{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %} Cart {% endblock %}

{% block content %}
<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">User Profile</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">Profile</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- User profile section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
                <div class="ec-sidebar-wrap ec-border-box">
                    <!-- Sidebar Category Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-vendor-block">
                            <!-- <div class="ec-vendor-block-bg"></div>
                            <div class="ec-vendor-block-detail">
                                <img class="v-img" src="assets/images/user/1.jpg" alt="vendor image">
                                <h5>Mariana Johns</h5>
                            </div> -->
                            <div class="ec-vendor-block-items">
                                <ul>
                                    <li><a href="">User Profile</a></li>
                                    <li><a href="">History</a></li>
                                    <li><a href="">Wishlist</a></li>
                                    <li><a href="{% url 'order:cart' %}">Cart</a></li>
                                    <li><a href="">Checkout</a></li>
                                    <li><a href="">Track Order</a></li>
                                    <li><a href="">Invoice</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ec-vendor-block-profile">
                                    <div class="ec-vendor-block-img space-bottom-30">
                                        <div class="ec-vendor-block-bg">
                                            <a href="" class="btn btn-lg btn-primary"
                                               data-link-action="editmodal" title="Edit Detail"
                                               data-bs-toggle="modal" data-bs-target="">Edit Detail</a>
                                        </div>
                                        <div class="ec-vendor-block-detail">
                                            <img class="v-img" src="{{ user.image.url }}" alt="vendor image">
                                            <h5 class="name">{{ user }}</h5>
                                            <p>( {{ user.position_name }} )</p>
                                        </div>
                                        <p>Hello <span>Mariana Johns!</span></p>
                                        <p>From your account you can easily view and track orders. You can manage and
                                            change your account information like address, contact information and
                                            history of orders.</p>
                                    </div>
                                    <h5>Account Information</h5>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                <h6>E-mail address <a href="javasript:void(0)"
                                                                      data-link-action="editmodal" title="Edit Detail"
                                                                      data-bs-toggle="modal"
                                                                      data-bs-target="#edit_modal"><i
                                                        class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Email 1 : </strong>support1@exapmle.com</li>
                                                    <li><strong>Email 2 : </strong>support2@exapmle.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                <h6>Contact nubmer<a href="javasript:void(0)"
                                                                     data-link-action="editmodal" title="Edit Detail"
                                                                     data-bs-toggle="modal"
                                                                     data-bs-target="#edit_modal"><i
                                                        class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Phone Nubmer 1 : </strong>(123) 123 456 7890</li>
                                                    <li><strong>Phone Nubmer 2 : </strong>(123) 123 456 7890</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                <h6>Address<a href="javasript:void(0)" data-link-action="editmodal"
                                                              title="Edit Detail" data-bs-toggle="modal"
                                                              data-bs-target="#edit_modal"><i
                                                        class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Home : </strong>123, 2150 Sycamore Street, dummy text of
                                                        the, San Jose, California - 95131.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address">
                                                <h6>Shipping Address<a href="javasript:void(0)"
                                                                       data-link-action="editmodal" title="Edit Detail"
                                                                       data-bs-toggle="modal"
                                                                       data-bs-target="#edit_modal"><i
                                                        class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Office : </strong>123, 2150 Sycamore Street, dummy text
                                                        of
                                                        the, San Jose, California - 95131.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User profile section -->
{% endblock %}
